@media only screen and (min-width: 64em) {
    .infoLocation {
        height: 700px;
        background-color: #FFF;
        padding: 31px 126px 44px 126px;

        &__content {
            &_header {
                display: flex;
                justify-content: space-between;
            }

            &_main {
                &-pic {
                    box-shadow: cadetblue 1px;
                    border-radius: 8px;

                    img {
                        box-shadow: 3px 3px rgb(126, 123, 123);
                        border-radius: 8px;

                    }

                    span {
                        position: relative;

                    }
                }
            }
        }


    }
}

@media only screen and (min-width: 46.25em) and (max-width:63.9375em) {
    .infoLocation {


        &_content {
            &_main {
                &-pic {
                    img {}
                }
            }
        }
    }
}

@media only screen and (max-width: 46.1875em) {
    .infoLocation {
        height: 1800px;
        background-color: #FFF;
        padding: 10px;

        &__content {
            &_header {
                display: flex;
                justify-content: space-between;

                h1 {
                    font-weight: 600;
                }

                h2 {
                    font-size: 16px;
                }
            }

            &_main {
                &-pic {

                    height: 275px;
                    margin-top: 10px;
                    border-radius: 8px;

                    img {
                        box-shadow: 3px 3px rgb(126, 123, 123);
                        border-radius: 8px;

                    }
                }
            }
        }


    }
}