* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container-blog {
  margin-top: 400px;
  background-color: white;
  padding: 43px 126px 44px 126px ;
}
.title {
  color: #000;
  font-size: 24px;
}
.desc-title {
  color: #000;
  font-size: 14px;
  padding-bottom: 15px;
}
.img-left {
  width: 586px;
  height: 380px;
  border-radius: 5px;
}
.nav {
  color: #000;
  font-size: 20px;
  white-space: normal;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}
.img-right {
  width: 285px;
  height: 152px;
  left: 1029px;
  top: 119px;
  border-radius: 5px;
}
.title-right {
  color: #000;
  font-size: 20px;
  white-space: normal;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}
// // PC
// @media only screen and (min-width: 64em) {
//   .container-blog {
//     padding: 43px 126px 44px 126px ;
    
//   }
// }
// // Tablet
// @media only screen and (min-width: 46.25em) and (max-width:63.9375em) {
//   .container-blog {
//     padding: 43px 10px 44px 10px;
//   }
//   .general-news {
//     padding: 0px 20px;
//   }
// }
// //mobile
// @media only screen and (max-with:740px) {
//   .container-blog {
//     padding: 43px 20px 44px 20px;
//   }
//   .general-news {
//     padding: 0px 20px;
//   }
// }